Backup/*
*/Debug/*
MarioObjects/obj/Debug/*
MarioTests/bin/*
MarioObjects/obj/*
MarioRectangle/obj/*
MarioTests/obj/*
MarioLevelEditor/obj/*
MarioRectangle/bin/*
_UpgradeReport_Files/*
UpgradeLog.XML
/MarioObjects/bin/Debug/MarioObjects.exe
/MarioObjects/bin/Debug/MarioObjects.pdb
/MarioObjects/bin/Debug/MarioObjects.vshost.exe
/MarioObjects/bin/Debug/MarioObjects.vshost.exe.manifest
/.vs/MarioObjects/v14/.suo
